<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Water incident reporting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href= "/stylesheets/style.css" rel="stylesheet" type="text/css" /> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!-- bootstrapnew -->
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
 </head>
 <body>
	<!-- navbar section  -->

 	<div class="container">
		<ul class="nav nav-tabs" role="tablist">
			<li><img src="images/44.jpg" width="55" alt="" class="d-inline-block align-middle mr-2"></li>
			<li class="active"><a href=/  font-weight-bold">Home</a></li>
			<li><a href=addincidents class=" font-weight-bold">Report Damages</a></li>
			<li><a href=getincidents class="font-weight-bold">Repairing list</a></li>
			<li><a href=deaths class=" font-weight-bold">Finished work</a></li>
			<li><a href=graph class=" font-weight-bold">Graph</a></li>
			<li><a href=videos class=" font-weight-bold">Videos</a></li>

      <li><a href=register class=" font-weight-bold">Register</a></li>
			<li><a href=login class=" font-weight-bold">Login</a></li>
			<li><a href="https://www.aucklandforkids.co.nz/top-10-playgrounds/" class=" font-weight-bold">Top 10 NZ Playgrounds</a></li>
      
		</ul>
	</div >

	<!-- carousel section  started-->




	  <div class="container1a" style="margin-top:0px;">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">   
            <div class="item active">
              <img src="images/Playground001.jpg" width="100%">
              <!-- <div class="carousel-caption">
                <h3>Title1</h3>
                <p>1</p>
              </div> -->
            </div>
            <div class="item">
              <img src="images/Playground002.jpg" width="100%">
              <!-- <div class="carousel-caption">
                <h3>Title2</h3>
                <p>content2</p>
              </div> -->
            </div>
            <div class="item">
              <img src="images/Playground003.jpg" width="100%">
              <!-- <div class="carousel-caption">
                <h3>Title3</h3>
                <p>content3</p>
              </div> -->
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
    </div>
    
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
     -->
    <!-- <script type="text/javascript">
        $(function() {
            $('.carousel').carousel({
              interval: 3000
            });
        });
    </script> -->

	<!-- carousel section ended -->
	

	<!-- main pictures section  -->
<div>
	<div class="container">
		<div id ="leftbox">
			<a href="http://www.windsurf.co.nz/windsurf_cam_muriwai.asp">
			<img src="images/lifeboatrescue.jpg" width="400px" alt ="Gannets at Muriwai, Auckland">
			</a>   
		</div>
	<div id="middlebox">
		<a href="https://en.wikipedia.org/wiki/Gannet">
			<img src="images/gannets.jpg" width="400px" alt ="Gannets at Muriwai, Auckland">
		</a>  
	</div>

	<div id="middlebox">
		<a href="https://en.wikipedia.org/wiki/Muriwai">
			<img src="images/muriwai2.jpg" width="400px" alt ="Gannets at Muriwai, Auckland">
		</a>   	
	</div>
	
	</div>
	<!-- discription parts  -->
	<div id="divHome">
                                                                
    <p>
      The primary concern is the safety of the children using the playground. Broken equipment can pose serious risks, leading to injuries such as cuts, bruises, or more severe harm. Regular maintenance and prompt repairs help ensure that the playground remains a safe and enjoyable environment for children.
    </p>
        
    <p>
      Playground owners or operators, whether they are schools, municipalities, or private entities, have a responsibility to provide a safe environment. Failure to address and fix broken equipment can result in legal liabilities if injuries occur. Regular maintenance helps mitigate these risks and demonstrates a commitment to safety.
    </p>
        
    <p>
       Timely repairs can extend the lifespan of playground equipment. Ignoring or delaying fixes might lead to more extensive damage, making repairs more costly and potentially requiring the replacement of entire structures. Regular maintenance can help identify issues early on, preventing them from escalating.
    </p>
	
	</div>
 </body>
</html>
